<!doctype html>
<html ng-app="portfolioApp">
<head>
    <meta charset="utf-8">
    <title>Ségun Konibire's online portfolio.</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Keywords" content="Gunzalez, Ségun, Konibire, Ségun Konibire, Sheg, Shegun, Shegun Konibire, Web, Developer, Designer, Internet, Programmer, Technologist, JavaScript, CSS, HTML, HTML5, jQuery, PHP, WordPress, Arsenal" />
    <link rel="shortcut icon" type="image/x-icon" href="http://www.gunzalez.com/images/favicon.ico">
    <link rel="stylesheet" href="css/app.css">

</head>
<body data-ng-controller="PortfolioListCtrl">
    <header>
        <h1>Ségun Konibire</h1>
        <p>Websites. Web&nbsp;Apps. User&nbsp;Experience.</p>
    </header>
    <section>
        <ul>
            <li data-ng-repeat="example in examples">
                <div class="example" target="_blank" data-ng-click="showDetails($index, $event)">
                    <img data-ng-src="{{example.image}}" data-tiles="{{example.tiles}}" alt="{{example.name}}">
                    <div class="description">
                        <p data-ng-bind="example.intro"></p>
                    </div>
                </div>
            </li>
        </ul>
    </section>
    <footer>
        <ul>
            <li data-ng-repeat="link in social">
                <a data-ng-href="{{link.url}}" target="_blank" data-ng-bind="link.icon"></a>
            </li>
        </ul>
    </footer>
    <div class="detail" data-ng-show="detail.display" data-ng-click="hideDetails()">
        <h2 data-ng-bind="detail.title"></h2>
        <img data-ng-src="{{detail.image}}" alt="{{detail.title}}">
        <p>{{detail.description}}</p>
        <p data-ng-show="detail.url"><a href="{{detail.link}}" target="_blank">{{detail.link}}</a></p>
    </div>
    <script src="js/angular.min.js"></script>
    <script src="js/app.js"></script>
</body>
</html>